/project_proposals.aux
/project_proposals.synctex.gz
/project_proposals.run.xml
/project_proposals.out
/project_proposals.log
/project_proposals.fls
/project_proposals.fdb_latexmk
/project_proposals.blg
/project_proposals.bbl
/project_proposals-blx.bib
/.DS_Store
/auto/project_proposals.el
